
.article-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
}

hr {
  background-color: white;
}

img {
  width: 120px;
  height: 120px;
  border-color: #383f44 !important;
  border: 2px solid;
  border-radius: 50%; /* the magic */
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%; 
}

.label{
  font-family: cursive;
  font-size: 14pt
}